.button {
    padding: 2px 8px;
    border-radius: 4px;
    color: #f5f5f7;
    font-size: 13px;
    display: flex;
    align-items: center;

    & .completion {
        color: #c6c6d2;
        font-family: Source Code Pro;
    }

    &:not(:has(input)){
        height: fit-content;
    }

    & input {
        cursor: text;
    }

    & input:not(:focus)~.completion {
        display: none;
    }
}